# Pycharm files
*.idea
*.pyc

# Mac OSX
*.DS_Store

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/*
.installed.cfg
*.egg

# Configuration
settings.yaml

# Package Data
./spectrAOD/ions.csv

# Misc
*.log